@model CamerasUtrecht.Models.CameraViewModel
@{
    ViewData["Title"] = "Security Cameras Utrecht";
}

@section Head {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin="">
    </script>
}

<h1>Security Cameras Utrecht</h1>
<div id="map"></div>
<div id="source">
    source:
    <a href="https://data.overheid.nl/data/dataset/camera-s">https://data.overheid.nl/data/dataset/camera-s</a>
</div>
<table id="cameraTableContainer">
    <tbody>
        <tr>
            <td>
                <table id="column3">
                    <thead>
                        <tr>
                            <th colspan="4">Cameras 3</th>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.DivByThree)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(r=>record.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Longitude)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table id="column5">
                    <thead>
                        <tr>
                            <th colspan="4">Cameras 5</th>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.DivByFive)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(r=>record.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Longitude)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table id="column15">
                    <thead>
                        <tr>
                            <th colspan="4">Cameras 3 &amp; 5</th>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.DivByThreeAndFive)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(r=>record.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Longitude)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table id="columnOther">
                    <thead>
                        <tr>
                            <th colspan="4">Cameras Overig</th>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.DivByNone)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(r=>record.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(r=>record.Longitude)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script>
        const map = L.map('map').setView([52.0914, 5.1115], 13);

        //add map layer
        const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        //add camera markers
        var cameras = @Html.Raw(Json.Serialize(Model.AllRecords));
        for (var i = 0; i < cameras.length; i++) {
            var marker = L.marker([cameras[i].latitude, cameras[i].longitude]).addTo(map);
        }
    </script>
}